    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About XR-X</h2>
				<p>
				Last updated: 2020-03-13
				</p>
				<p>
				<br>
				<br>
				</p>
                <p>
				<h3>I <a href="http://philiprhoades.org">(Philip Rhoades)</a> created XR-X for two main reasons:</h3>
				</p>
                <p>
				1.<br>
                    In mid-2019, the few people who controlled the National IT group for <a href="https://ausrebellion.earth"> XR Australia</a> were refusing to correct activist sign-up problems that endangered the security of those new people - particularly the young leaders. I felt this was intolerable as Western democracies accelerated their slide into full-blown Fascism.
				</p>
                <p>
				2.<br>
                    A concerted world-wide effort is needed to prosecute "Carbon Criminals" who have pushed the system to a state where The World's Sixth Mass Extinction is probably now unstoppable and will accelerate to its natural conclusion in the near term.
                </p>
				<p>
				<br>
				<br>
				</p>
                <p>
				<h3>End of the World factors - a confluence of crises:</h3>
                </p>
                <p>
				*<br>The World's Sixth Mass Extinction
				<br>
				*<br>Whole ecosystems collapse
				<br>
				*<br>Trillions of dollars spent annually by the Military-Industrial-Financial-Intelligence Complex in the USA on "Forever Wars"
				<br>
				*<br>Wars over dwindling arable land, fresh water and other resources
				<br>
				*<br>Rapid slide into full-blown fascism in many countries - particularly the developed ones as the great majority are impoverished
				<br>
				*<br>Superbugs running rampant globally while medical services are overwhelmed and civilisation collapses
                </p>
            </div>
        </div>
    </section>
