<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<meta property="og:title" content="eXtinction Rebellion - eXtended" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://xr-x.org" />
	<meta property="og:image" content="http://xr-x.org/img/intro-bg.jpg" />
	<meta property="og:description" content="XR-X Issues" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
	<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

	<!-- Custom Fonts -->
	<link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}">
	<link href="//fonts.googleapis.com/css?family="Open Sans":400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family="Open Sans":400,700" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154362190-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154362190-1');
</script>


</head>
