    <!-- News Section -->
    <section id="news" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>NEWS</h2>
				<p>
				Last updated: 2019-12-11
				</p>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">    
  <link rel="stylesheet" href="dist/accordion.css">

<div class="accordion-container-news">
  <div class="ac">
    <h2 class="ac-q" tabindex="0">
		2019-12-11<br>Shell, ExxonMobil, Chevron & BP Could Be Legally & Morally Liable for Climate Crisis in Philippines
   	</h2>
    <div class="ac-a">
      <p>
The Commission on Human Rights of the Philippines has just determined that 47 major companies, including Shell, ExxonMobil, Chevron, BP and Total, could be found legally and morally liable for human rights harms to Filipinos resulting from climate change. The commission found the companies could be held accountable under civil and criminal laws. Climate activists have hailed the decision as a landmark victory for climate justice. According to Greenpeace, this marks the first time big polluting companies have been found responsible for human rights harms resulting from the climate crisis. We speak to Yeb Saño, executive director of Greenpeace Southeast Asia and the former chief climate negotiator for the Philippines.
      </p>
      <p>
<a href=
	"https://www.youtube.com/watch?v=BiP7YmcyCAM"
	>
	Watch Democracy Now! video here.

</a>
      </p>

    </div>
  </div>
</div>  

<script src="dist/accordion.js"></script>    

<script>
  new Accordion('.accordion-container-news'); 
</script>

            </div>
        </div>
    </section>
