    <!-- PHR Section -->
    <section id="phr" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>PHR</h2>
				<p>
				Last updated: 2020-01-07
				</p>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">    
  <link rel="stylesheet" href="dist/accordion.css">

<div class="accordion-container-phr">
  <div class="ac">
    <h2 class="ac-q" tabindex="0">
		2019-11-27<br>In the Beginning
   	</h2>
    <div class="ac-a">
				<p>
				Last updated: 2019-12-20
				</p>
				<p>
				I got involved with XR Sydney at the end of 2018 when CazC, after seeing what was happening in the UK,
				took it upon herself to start recruiting for NSW. There were only a handful of us but the numbers were
				increasing rapidly. I was the only person in that early group who had both significant IT experience
				and was able to put in a fair amount of time to organising. I naturally ended up as the Sydney / NSW
				rep to the "National" IT group. This group simply consisted of people who had some IT experience and
				took it upon themselves (with a great amount of help from XR International) to build systems that
				would allow some amount of co-ordination between the States, Territories, Cities and Towns. There was
				no "democratic election" to the National IT Group as such.

				</p>
				<p>
				While I was generally happy with the National IT Group volunteers and the work that they had done to date - there was one issue which took me a few weeks to realise was a serious problem . . 
				</p>
				<p>
				I came from a progressive political family tradition - indeed my mother and father (at 17 and 22) were
				arrested at a "Ban the Bomb" rally in Sydney in 1949 - 3 years before I was born. When I read Rachel
				Carson's "Silent Spring" in 1962 (aged 10), I knew there was a major problem. I was also having
				nightmares about possible nuclear annihilation that could occur at any moment. In 1973, The Club of
				Rome published "The Limits to Growth" and confirmed my view that an  exponentially growing human
				population - combined with a consumption-based economic model - was a recipe for disaster. Every year
				we seemed to be taking one step forward in terms of technology but three steps forward in terms of
				environmental damage. Human "intelligence" and technological wizardary did not seem to be able to slow
				down the environmental car speeding towards the cliff edge.

				</p>
				<p>
				So I eventually got a Biology degree but was continually distracted by politics - local and domestic eg Demonstrating against:
				<br> 
				- an illegal and stupid war in Viet Nam - which the Tories had dragged us and an enthusiastic USA into - Labor leader Gough Whitlam was elected PM in 1972 and immediately withdrew Australian troops;  
				<br> 
				- the Springbok (Rugby Union) tours of Australia - protesting the Apartheid regime in South Africa;
				<br> 
				- the illegal dismissal of the Whitlam government by the Governor General in 1975 (with the collusion of Australian and US Intelligence agencies).
				<p>
				In mid-life I thought it would be a good idea to get a higher degree with a thesis on computer
				simulation of Population Genetics issues facing threatened species - so that I might have more
				influence with political arguments about the worsening environmental crises and in particular, Global
				Warming. As we moved into the 2000s, I gave up the idea of saving individual species - The World's
				Sixth Mass Extinction seemed more and more unstoppable. At first I thought we might have another 100
				years, then I thought it might be 50 - but after a while I thought it could be as little as 10 years
				before it was all over.

				</p>
				<p>
				Then Extinction Rebellion came to be a "thing". At last here was an organisation who understood what
				the stakes were and would act appropriately. I would get involved and do as much as could for the
				cause - even though, by then, I thought the cause was already lost - but you still have to do the
				right thing don't you? My personal thesis was by then (2010s) that as the various crises deepened -
				exacerbated by criminal, obscenely greedy, power-mad corporations (and the politicians they
				controlled) - we were headed for the "Perfect Storm" for the end of human civilisation. While this
				rapid environmental deterioration happened, Western "democracies" would slide rapidly into full-blown
				Fascism. The problem I saw, was that with the many (ironically / awfully named) "Intelligence"
				agencies - particularly operating within the "Five Eyes" treaty countries - leaders of an
				environmental group that REALLY threatened "The System" would be at grave risk. Unfortunately, the DB
				software that XR Aus was using was capturing ALL the information the NSA would need to destroy the
				movement, and, to make matters worse - the data was stored on servers in the good ol' US of A . . 

				</p>
				<p>
				I tried for many months to get the XR Nationalal IT Group to take the security threat seriously - that
				their actions would needlessy put the security of hundreds of thousands of activists (particularly
				young ones) at threat. In the end they got jack of my obstinacy on the issue and I was booted from the
				Group. Since I was no longer on the Nation IT Group as the NSW / Sydney rep, I also had to drop out of
				the NSW / Sydney Organisers Group. As of writing this blog, the XR Aus signup form has not changed and
				National IT has pressed on with a completely insecure and compromised DB system. I got some sympathy
				from XR International but all XR groups are more or less independent and they cannot intervene. The
				National IT argument is that the WSME is accelerating so rapidly that worrying about a similarly rapid
				slide into Fascism is a waste of time - my view is that the organisation should be completely open to
				new recruits about the risks of signing up to the organisation and allow the recruits to make their
				own decisions and / or at least suggest to them the options of using pseudonyms and secure email
				addresses etc.

				</p>
    </div>
  </div>

  <div class="ac">
    <h2 class="ac-q" tabindex="0">
		2019-11-28<br>Environmental Crimes / Ecocide / Crimes Against Humanity
   	</h2>
    <div class="ac-a">
				<p>
				Last updated: 2019-12-20
				</p>
				<p>
				The question I have is: "Now that millions of people are dying because of the effects of Global
				Warming and, inevitably, in combination with endless and increasingly damaging wars, it will soon be
				billions of people dying - should not the main people and corporations responsible for these crimes be
				brought to justice while it is still possible to do so?"

				</p>
				<p>
The Conclusion from:
				</p>
				<p>
<a href=
	"http://www.envirosecurity.org/ecocide/nov2012/Kramer,R.C.(2012)-ClimateChange_A_state-corporate_crime_perspective.pdf"
	>
	Climate Change: A state-Corporate Crime Perspective, 2012
</a>
				</p>
				<p>
"On the podium in Philadelphia in 1939, what Sutherland really said-once the camouflage is
removed-is that white-collar crime is wrong-indeed, that often it is despicable-and that
sociologists and economists ought to pay close attention to such matters and join with him in
a crusade to do something about them (Geis 1982, p. 18)."

				</p>
				<p>
"As the social science research cited above demonstrates, the ties between the fossil
fuel industry and conservative think tanks that provide the denialist narratives are well
documented, as are the linkages between the think tanks and the Republican Party that
obstructs any attempt to deal with climate change in the U.S. and international political arena.
The worst effects of climate change and the harms it will impose on its victims cannot be
avoided unless there are drastic and quick reductions in global greenhouse gas emissions. The
energy corporations and their political and ideological supporters understand all too well that
achieving these necessary reductions will require a radical reordering of the economic and
political systems at the heart of the global capitalist system. This is what they are desperately
fighting to avoid, and they are using every powerful tool available to them to perpetrate this
catastrophic environmental state-corporate crime. A crusade, a transformative international
social movement that has as its goal the drastic reduction of greenhouse gas emissions is
desperately needed. Following the lead of Edwin H. Sutherland, perhaps we criminologists
can play a role in provoking this movement by using the conceptual language of crime to
bring greater attention to these matters and help generate moral outrage at the destructive
relationship between the fossil fuel industry and states that allows catastrophic climate change
and its victimization to continue unabated."

				</p>
    </div>
  </div>

  <div class="ac">
    <h2 class="ac-q" tabindex="0">
		2019-12-11<br>"The Cowra Trials"
   	</h2>
    <div class="ac-a">
				<p>
				Last updated: 2019-12-20
				</p>
				<p>
				After the end of the Second World War, many German and Japanese officials were tried for War Crimes.
				Some of these people "only" killed millions of people - what sort of justice should be metered out to
				individuals and corporations who cause the deaths of billions of people (and trillions of other
				organisms) on Earth?  I am going to explore the need for these trials in the following posts - not so
				much to establish the guilt of these individuals and corporations - but to establish a just response
		 on how they should be treated for their horrendous crimes. See these links for an introduction to where I am going with this
		 desperately-needed project:

				</p>
				<p>
<a href=
	"https://www.youtube.com/watch?v=14DZPm2t0K0"
	>
	Professor Rob White on green criminology
</a>
				</p>
				<p>
<a href=
	"https://www.press.uchicago.edu/ucp/books/book/distributed/E/bo16832998.html"
	>
	Professor Rob White on green criminology Environmental Harm: An Eco-justice Perspective, White
</a>
				</p>

    </div>
  </div>

  <div class="ac">
    <h2 class="ac-q" tabindex="0">
		2020-01-07<br>"Australia Burns - Who is to be Held to Account?"
   	</h2>
    <div class="ac-a">
				<p>
				Last updated: 2020-01-09
				</p>
				<p>
				As I write this, Australia is suffering through the worst fire season in its history - and this is
				only a taste of what is to come - the burning season will last longer each year and burn more organic
				matter each year - eventually leaving only inorganics to blow away or to be washed away in
				increasingly catastrophic wind storms and floods.  Simple life is probably common throughout the
				cosmos but we are probably the only "intelligent" life managing a relatively advanced technological
				civilisation. We had a responsibility to spread this intelligence to the rest of our Solar System, then
				the rest of our Galaxy and then even to other galaxies or even universes - but we have fucked-up badly, and
				now probably won't even survive our own species' adolescence.

				</p>
				<p>
				The fact that this hellish situation is clearly related to Global Warming is not seriously in argument
				- the question is: "Who is to be held to account for the crimes that has lead to this situation?". My
				view is that in every country, the people themselves should hold all CEOs of all Big Carbon
				corporations and all politicians who did the bidding of these corporations, accountable. My view is
				that the people who should be held to account date from 1960 - about the year they knew what they were
				doing would eventually cause the sort of problems we are seeing today - but went ahead as fast as they
				could anyway - all the while producing lies of such scale about the nature of the problem and the
				number of human deaths involved as to be completely monstrous.

				</p>

				<p>
				In Australia, the Big Carbon CEOs from 1960 can readily be identified but the politician who bears the
				single most responsibility for enabling the corporations and crippling any intelligent response to
				Global Warming is Tony "The Mad Monk" Abbott - thankfully now a former PM and a former MP. However the
				legacy of his criminal actions - out of pure, completely cynical and immoral political self-interest -
				will live on - until we are all gone. The brakes on the acceleration of The World's Sixth Mass
				Extinction may have still, conceivably, been able to be applied for some positive result in 2009 - but
				the rise of Abbott's influence in the Australian parliament ensured there were at least ten lost years
				of potential action.  Australians, having the second-highest production of CO2 per capita in the world
				and Australia, as one of the largest coal exporters but still having something resembling a
				democratically-elected government, had huge responsibilities to lead the world away from a cataclysmic
				end.

				</p>

				<p>
				My view is that all the assets of (at least) the Big Carbon CEOs from 1960 onwards and Abbott, should
				be confiscated and be used to rapidly accelerate a move to 100% renewable energy and to develop
				industrial-scale plants for CO2 extraction from the atmosphere and the oceans. This confiscation
				should not be limited to those people still alive - it should also be applied to those assets
				inherited or transferred before or after death. Those responsible CEOs still alive and Abbott should
				then spend the rest of their natural lives in gaol - or until the inevitble conclusion of The World's
				Sixth Mass Extinction - whichever comes first.

				</p>

    </div>
  </div>
</div>  

<script>
  new Accordion('.accordion-container-phr'); 
</script>
            </div>
        </div>
    </section>
